#calculadora {
 background: #D8BFD8;
 width: 200px;
 padding: 10px;
 text-align: center;
 border-radius: 10px;
 box-shadow: blueviolet;
}
.spMes{
    border-color: #7B68EE;
    border-width: 1px;
    border-style: dashed;
    background: #D8BFD8;
    color: rgb(87, 29, 163);
    text-align: start;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}
#calculadora input:focus{
    background: #FFDAB9;
color: rgb(139, 47, 182);
}
#calculadora input{
    background: #FFE4E1;
    color: black;
    padding: 5px;
    border-radius: 5px;
}
#sptotal {
    background:#FFDAB9;
padding: 10px;
border-radius: 10px;
margin-bottom: 10px;
}
#calculadora button  {
    background: #E0FFFF;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}
#calculadora button:hover  {
    background: 	#7B68EE;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
h3{
    color: rgb(87, 29, 163);
}
.calcF{
    display: none;
}
#input-calcF{
    display: none;
}
#input-calcF:checked + #calculadora .calcF {
    display: block;
}

